
.container {
	width: 700px;
	height: 100%;
	margin-left: 24%;
	margin-top: 10%;
}

a {
	text-decoration: none;
	color: #fff;
}

.wod {
	margin-left: 24%;
	padding: 0;
	list-style: none;
}

.wod li {
	display: inline-block;
	margin-right: 30px;
	font-size: 22px;
	font-family: sans-serif;
	color: #fff;
	background-color: rgb(50, 50, 50);
	position: relative;
}

.wod li:hover {
	background-color: rgb(140, 140, 140);
}

.wod a {
	text-decoration: none;
}

.pics {
	margin-left: 8.5%;
}

.album {
	margin-left: 2.5%;
}

.album div {
	display: inline-block;
}

.album img {
	height: 100px;
	width: 150px;
	opacity: .6;
	cursor: pointer;
} 

.album img:hover {
	opacity: 1;
}

div img.magnify {
	height: 300px;
	width: 350px;
	opacity: 1;
}

.contents {
	margin-top: 0;
	float: left;
	width: 200px;
	height: 200px;
}

.contents h4 {
	margin-left: 10%;
	margin-bottom: 10px;
}

.contents ul {
	margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
	.wod {
		margin-left: 0;
	}

	.wod li {
		display: block;
		border-bottom: 1px solid #fff;
	}

	.container {
		margin-left: 0;		
	}

	.album div {
		display: block;
	}

	div img.magnify {
		height: 200px;
		width: 250px;
	}

	.pics {
		margin-left: 0;
	}

	.container {
		clear: both;
		width: auto;
	}
}





