
.container {
	width: 700px;
	height: 100%;
	margin-left: 24%;
	margin-top: 10%;
	/*border: 1px solid black;*/
}

a {
	text-decoration: none;
	color:white;
}

.wod {
	margin-left: 24%;
	padding:0;
	list-style: none;
}

.wod li {
	display: inline-block;
	margin-right: 30px;
	font-size: 22px;
	font-family: sans-serif;
	color:white;
	background: black;
	position: relative;
}

.wod a {
	text-decoration: none;
}

.pics {
	margin-left: 8.5%;
}

.album {
	margin-left: 2.5%;
}

.album div {
	display: inline-block;
}

.album img {
	height: 100px;
	width: 150px;
	opacity: .4;
	display: inline-block;
} 

div img.magnify {
	height:300px;
	width:350px;
	opacity: 1;
}

.table {
	position: absolute;
	margin-bottom: 0;
	margin-left: 4.5%;
	text-decoration: underline;
}

.contents {
	margin-top: 0;
	float: left;
	width: 200px;
	height: 200px;
	/*border: 1px solid black;*/
}

.contents ul {
	margin-bottom: 10px;
	color: red;
}




